@import "~bootstrap/scss/bootstrap";

.btn-custom {
  color: #fff;
  background-color: #044A85;
  border-color:  #044A85;
  border-radius: 50px;
  border-width: 2.5px;
  font-weight:  600;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  outline: none !important;
  font-family: 'Source Sans Pro'
}
.btn-custom:hover, .btn-custom:active {
  color:#fff;
  background-color: #044A85;
  border-color: #044A85;
  outline: none !important;
  font-family: 'Source Sans Pro'
}

.btn-outline-custom {
  color: #044A85;
  background-color:	#fff;
  border-color:  #044A85;
  border-radius: 50px;
  border-width: 2px;
  font-weight:  600;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  outline: none !important;
  font-family: 'Source Sans Pro'
}
.btn-outline-custom:hover, .btn-outline-custom:active {
  color: #fff;
  background-color: #044A85;
  border-color: #044A85;
  outline: none !important;
  font-family: 'Source Sans Pro'
}

.color-page{
  background-color: #D1EAFF;
}

.dropdown-colors{
  border-color: #044A85;
}

.link
{
   color:#000;
   text-decoration: none; 
   background-color: none;
}

.aws-btn {
  .aws-btn {

    --button-default-height: 51px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.175s;
    --button-primary-color: #1e88e5;
    --button-primary-color-dark: #1360a4;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #187bd1;
    --button-primary-border: none;
    --button-secondary-color: #f2f6f9;
    --button-secondary-color-dark: #1360a4;
    --button-secondary-color-light: #1e88e5;
    --button-secondary-color-hover: #e1eaf1;
    --button-secondary-border: 2px solid #1e88e5;
    --button-anchor-color: #0e4f88;
    --button-anchor-color-dark: #072743;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #0d4a7f;
    --button-anchor-border: none;
    }
  }
