

.redText{
  color: #c84d55;
}

h3 {
  font-family: 'Philosopher', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h4 {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 10px;
  display: block;
  background-color: #044A85;
  margin-left: 0;
  margin-right: auto;
  width: 25%;
  size: 100px;
}

h2 {
  margin: -10;
  font-family: 'IBM Plex Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main, section, aside, footer {
  margin: 0;
  padding: 20px;
  /* border: 1px solid #000000; */
}

.header {
  overflow: hidden;
  background-color: #767779;
  padding: 5px 10px;
}

.header a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  padding: 3px;
}

.header a:hover {
  /* background-color: #aaa; */
  color: black;
}

.header-left {
  float: left;
  padding: 20px 10px;
}



@media screen and (max-width: 640px) {
  .header a, .header-left {
    float: none;
    display: block;
    text-align: center;
  }

  .headshot{
    width: 100%;
    height: auto;
  }

  .about-me-code{
    font-size: 27;
  }
}

main {
  background: #000000;
}

.typewriter {
  background: #D1EAFF;
  flex: 1;
  height: 100%;
}

.content {
  background: #D1EAFF;
  flex: 1;
  height: 100%;
}

.about-me-section{
  background: #FBFBFF;
  border-radius: 33px;
  padding: 10px 20px;
  flex: 1;
  height: 100%;
}

@media screen and (min-width: 640px){
  .flex-container {
      display: flex;
  }    

  .about-me-code{
    font-size: 2vw;
  }
}

.animate__animated.animate__pulse {
  --animate-duration: 4s;
}



